html {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 1), 
      rgba(0, 0, 0, 1)
    );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent !important;
}

@media screen and (min-width: 1280px) {
    .mb-3 {
        margin-top: 40px !important;
        position: relative;
    }

    #accountDetailsHeader {
        font-size: 64px;
        font-weight: 500;
        font-family: "Akshar", system-ui;
        color: #ffffff;
    }

    #name,
    #email,
    #password {
        margin-top: 20px;
        border-radius: 20px;
        height: 80px;
        font-size: 25px;
        font-weight: 500;
        font-family: "Akshar", system-ui;
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0.3);
        border: none;
        transition: border 0.2ms;
    }

    label {
        font-size: 32px;
        font-weight: 500;
        font-family: "Akshar", system-ui;
        color: #ffffff;
    }

    #viewPurchaseHistory {
        font-size: 20px;
        font-weight: 500;
        font-family: "Akshar", system-ui;
        color: #8884FF;
    }

    #recentDiscountsWindow {
        margin-top: 60px;
        height: 400px;
        font-size: 24px;
        font-weight: 500;
        font-family: "Akshar", system-ui;
        color: #ffffff;
        text-align: center;
        border: 2px solid;
        border-radius: 20px;
        overflow: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
    }

    .promoCode {
        border: 1px solid;
    }

    .promoCodeText {
        margin-bottom: 20px;
        display: block;
        font-size: 14px;
        text-align: left;
        line-height: 1;
    }

    .customBtn {
        color:#ffffff;
        background-color: #ffffff00;
        font-size: 20px;
        font-weight: 500;
        font-family: "Akshar", system-ui;
        border: 2px solid;
        border-radius: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 40px;
    }

    #deleteAccountBtn {
        color: #F25757;
    }
}

@media screen and (min-width: 850px) and (max-width: 1279px) {
    /* laptop version */
}

@media screen and (min-width: 501px) and (max-width: 849px) {
    /* tablet version */
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    /* mobile version */
}