html {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    url("https://images.unsplash.com/photo-1638959492386-f9a68d55c374?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent !important;
}

@media screen and (min-width: 1280px) {
    #header {
        font-size: 20px;
        font-weight: 500;
        font-family: "Akshar", system-ui;
        color: #ffffff;
    }
    
    .sign-up-button {
        overflow: hidden;
        background-color: transparent;
        border-radius: 10px;
        border: 2px solid #ffffff;
        font-weight: 500;
        font-family: "Akshar", system-ui;
        color: #ffffff;
        cursor: pointer;
        padding: 2%;
        width: 50%;
    }
    
    #logo {
        width: 40%;
    }
    
    .centered-header {
        color: #ffffff;
        font-size: 50px;
        font-weight: 600;
        font-family: "Akshar", system-ui;
        letter-spacing: .3rem;
    }
    
    #mainText {
        margin-top: 16%;
    }
    
    .centered-text {
        color: #ffffff;
        font-size: 25px;
        font-weight: 300;
        font-family: "Akshar", system-ui;
    }
}

@media screen and (min-width: 850px) and (max-width: 1279px) {
    #header {
        font-size: 16px;
        font-weight: 500;
        font-family: "Akshar", system-ui;
        color: #ffffff;
    }
    
    .sign-up-button {
        overflow: hidden;
        background-color: transparent;
        border-radius: 10px;
        border: 2px solid #ffffff;
        font-weight: 500;
        font-family: "Akshar", system-ui;
        color: #ffffff;
        cursor: pointer;
        padding: 2%;
        width: 50%;
    }
    
    #logo {
        width: 40%;
    }
    
    .centered-header {
        color: #ffffff;
        font-size: 40px;
        font-weight: 600;
        font-family: "Akshar", system-ui;
        letter-spacing: .3rem;
    }
    
    #mainText {
        margin-top: 20%;
    }
    
    .centered-text {
        color: #ffffff;
        font-size: 20px;
        font-weight: 300;
        font-family: "Akshar", system-ui;
    }
}

@media screen and (min-width: 501px) and (max-width: 849px) {
    /* tablet version */
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    /* mobile version */
}