<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>3DModels</title>
        <link rel="stylesheet" href="AccountPageStyle.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap" rel="stylesheet">
        <script src="AccountPageApp.js" defer></script>
    </head>

    <body>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-8">
                    <div>
                        <span id="accountDetailsHeader">Account Details</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row text-end" id="viewPurchaseHistoryRow">
                        <a id="viewPurchaseHistory" href="">View purchase history</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <div class="container">
                        <form th:object="${client}">
                            <div class="mb-3">
                                <label for="name">Profile name & surname</label>
                                <input id="name" name="name" type="text" class="form-control" th:value="${client.name + ' ' + client.surname}" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input id="email" name="email" type="email" class="form-control" th:value="${client.email}" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="password">Password</label>
                                <input id="password" name="password" type="password" class="form-control" th:value="${client.password}" disabled>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-1">
                </div>
                <div class="col-4">
                    <div class="container" id="recentDiscountsWindow">
                        <span id="recentDiscountsHeader">Recent discounts</span>
                        <div class="row promoCode">
                            <span class="promoCodeHeader">hZYLKZbN</span>
                            <span class="promoCodeText">
                                Thank you for registering your account, this promo code 
                                should make your difficult choice of the first product easier.
                            </span>
                            <span class="promoCodeText">
                                Apply this promo code when purchasing and add two 
                                templates to the shopping cart absolutely for free.
                            </span>
                        </div>
                        <div class="row promoCode">
                            <span class="promoCodeHeader">nhXC3fUE</span>
                            <span class="promoCodeText">
                                Thanks for the first purchase, here is another promo 
                                code, do not forget to enter it at the next purchase.
                            </span>
                            <span class="promoCodeText">
                                Apply this promo code when purchasing and add two 
                                templates to the shopping cart absolutely for free.
                            </span>
                        </div>
                        <div class="row promoCode">
                            <span class="promoCodeHeader">b5M4XZNz</span>
                            <span class="promoCodeText">
                                Demo promoCode for something, idk... Maybe birthday? Maybe some 
                                another special reason. I just need a long text to work with
                                so stop looking at that, you and me got some things to do, right?
                            </span>
                            <span class="promoCodeText">
                                You know the rules and how to apply this promo. Well then, do it!
                            </span>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-6 d-flex justify-content-center">
                                <form action="" method="patch"></form>
                                    <input class="customBtn" id="changeDetailsBtn" type="submit" value="change details">
                                </form>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <form action="" method="delete">
                                    <input class="customBtn" id="deleteAccountBtn" type="button" value="delete account">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>