<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>3DModels</title>
        <link rel="stylesheet" href="/homePageStyle.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap" rel="stylesheet">
        <script media="screen and (min-width: 300px) and (max-width: 500px)" src="/homePageMobile.js" defer></script>
    </head>

    <body>
        <div class="container-fluid text-center" id="header">
            <div class="row align-items-center">
                <div class="col-2">
                    <img src="/img/logo_demo.png" class="img-fluid" id="logo" alt="">
                </div>
                <div class="col">
                    3D Models
                </div>
                <div class="col">
                    Figures
                </div>
                <div class="col">
                    Contacts
                </div>
                <div class="col">
                    Help
                </div>
                <div class="col-4"></div>
                <div class="col-2">
                    <a class="sign-up-button" href="/new">Sign Up</a>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center" id="mainText">
            <div class="row align-items-center">
                <h1 class="centered-header">3D MODELS.RU</h1>
            </div>
            <div class="row align-items-center">
                <span class="centered-text">A website for buying 3D models and already printed figures</span>
            </div>
        </div>

        <div class="container-fluid text-center" id="swipeIconContainer">
            <img 
                src="/img/VectorUp.svg"
                alt="" 
                height="35" 
                width="35"
                id="swipeIcon"
                onclick="openMenu()" />
        </div>
        
        <div class="container-fluid text-center" id="mobileMenuContainer">
            <div class="row align-items-center menuLine">
                <span>3D MODELS</span>
            </div>
            <div class="row align-items-center menuLine">
                <span>FIGURES</span>
            </div>
            <div class="row align-items-center menuLine">
                <span>CONTACTS</span>
            </div>
            <div class="row align-items-center menuLine">
                <span>HELP</span>
            </div>
            <div class="row align-items-center menuLine" id="signUpMobile">
                <span>SIGN UP</span>
            </div>
        </div>
        
    </body>
</html>