<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>3DModels</title>
        <link rel="stylesheet" href="SignUpPageStyle.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap" rel="stylesheet">
        <script src="SignUpPageApp.js" defer></script>
    </head>

    <body>
        <div class="container">
            <div class="row vh-100">
                <div class="col" id="imageContainer">
                    <img src="/img/SignUpPicture3.jpg" class="float-end" id="thumbImage" alt="">
                    <div class="row justify-content-center align-items-center" id="changingPointsContainer">
                        <div class="col-auto">
                            <div class="changePoint" id="point0">0</div>
                        </div>
                        <div class="col-auto">
                            <div class="changePoint" id="point1">1</div>
                        </div>
                        <div class="col-auto">
                            <div class="changePoint" id="point2">2</div>
                        </div>
                    </div>
                    <div class="row justify-content-end" id="returnButtonRow">
                        <div class="col-auto">
                            <a id="returnButton" href="/">Back to website >></a>
                        </div>
                    </div>
                </div>
                <div class="col" id="CreateAccountContainer">
                    <div class="mb-5">
                        <h2 id="CreateAnAccountHeader">Create an account</h2>
                        <span id="AlreadyHaveAccountSpan">Already have an account? <a id="LogInPageRef" href="/login">Log In</a></span>
                    </div>
                    <form method="post" action="/">
                        <div class="mb-3">
                            <div class="row g-3">
                                <div class="col">
                                    <input id="name" name="name" type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="col">
                                    <input id="surname" name="surname" type="text" class="form-control" placeholder="Surname">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input id="email" name="email" type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <img 
                            src="/img/passwordHideIcon.svg"
                            alt="" 
                            height="30" 
                            width="30"
                            id="passwordEyeIcon"
                            onclick="showHidePassword()" />
                            <input id="password" name="password" type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                <span id="AgreeToTermsSpan">I agree to the <a id="TermsConditionsPageRef" href="/TermsConditionsPage.html">Terms & Conditions</a></span>
                            </label>
                        </div>
                        <div class="mt-5">
                            <input id="SubmitButton" type="submit" value="Create account">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>